body {
  font-family: "Poppins light", sans-serif;
  font-size: 20px;
  line-height: 1.7;
}

h1,
h2,
h3 {
  font-size: 32px;
}

a {
  color: #f45d48;
}

a:hover,
a:focus,
a:active {
  cursor: pointer;
  text-decoration: underline;
}

h1:after {
  content: "";
  display: inline-block;
  height: 2px;
  width: 24px;
  background: #1a1a1b;
  vertical-align: 20%;
  margin-left: 12px;
}

@media (prefers-color-scheme: dark) {
  h1:after {
    background: #ffffff;
  }
}
