body {
  font-family: 'Spectral', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}

h1,
h2,
h3 {
  font-size: 32px;
}

h1,
h2,
h3,
h4,
a {
  font-family: 'Cera CY', sans-serif;
  font-style: normal;
  font-weight: 300;
}

a {
  color: #f45d48;
  background-image: linear-gradient(#f45d48, #f45d48);
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}

a:hover,
a:focus,
a:active {
  background-size: 100% 0.1em;
  cursor: pointer;
}

h1:after {
  content: '';
  display: inline-block;
  height: 2px;
  width: 24px;
  background: #1a1a1b;
  vertical-align: 20%;
  margin-left: 12px;
}

@media (prefers-color-scheme: dark) {
  h1:after {
    background: #ffffff;
  }
}